* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #abbce4;
  color: #002b36;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 700px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.logo-box {
  border: 2px solid #002b36;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: #b3ddca;
}

.logo-box h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.nivel {
  border: 2px solid #002b36;
  border-radius: 20px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #002b36;
  background-color: #b3ddca;
}

.nivel:hover {
  background-color: #7fb3a0;
  color: white;
  transform: scale(1.02);
}
